<% section ||= @section %>

<div class="editable-components-section">

	<div class="holder center">
		<h3 class="editable-components-section-name inline" id="section-name-<%= section.id %>">
			<%= section.name %>
		</h3>

		<span class="section-edit" rel="tooltip" title="edit" data-id="<%= section.id %>">
			<i class="icon-pencil"></i>
		</span>

		<span class="section-delete" rel="tooltip" title="delete"
								data-id="<%= section.id %>" data-delete-url="<%= destroy_section_url %>"
								data-section-name="<%= section.name %>">

			<i class="icon-remove"></i>
		
		</span>

		<div class="section-edit-form-container hide">
			<%= form_for section, :remote => true do |f| %>
				<%= f.text_field :name, :class => 'span4 input-small section-name-field', :id => "input-section-name-#{section.id}" %>
				<%= f.submit "save", :class => "btn section-save", 'data-section-id' => section.id %>
			<% end %>
		</div>

	</div>

<%= render 'lists/editable_components_list', :items => section.children, :prioritized => true, :section_id => section.id %>

	<div class="clearfix"></div>
</div>