<div class="footer">
	<div class="container">
		&copy; 2012 &nbsp;<strong>Crowd</strong>Course
		<div class="pull-right">
			<%= link_to "About", about_path %>
			<%= link_to "News", news_path %>
			<%= link_to "Contact", contact_path %>
			<%= link_to "Guidelines", guidelines_path %>
			<%= link_to "Legal", legal_path %>
		</div>
	</div>
</div>